body{
    background: #eab676;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}
form{
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #bbb;
    border-radius: 20px; 

}

h2{
    text-align: center;
    margin-bottom: 40px;
}
input{
    display: block;
    border: 2px solid #aaa;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
label{
    color: #444;
    font-size: 18px;
    padding: 10px;
}
button{
    float: right;
    background: #555;
    color:#fff ;
    border-radius: 5px;
    margin-right: 20px ;
    border: none;
    padding: 10px;
}
button:hover{
    opacity: .7;
}
.error{
    background: #F2DEDE;
    color:#A94442;
    padding:10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
h1 {
	text-align: center;
	color: #fff;

}

a {
	float: right;
	background: #5b5a57;
	padding: 10px 15px ;
	color: #f4d9d9c9;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;

}
a:hover{
	opacity: .7;
}